.CategoryPill {
    width: 5em;
    min-width: 5em;
    height: 9em;

    border-radius: 2.5em;
    background-color: var(--white-color);

    position: relative;
}

.CategoryPill-active {
    background-color: var(--primary-color);
}

.CategoryPill-icon {
    width: 4em;
    height: 4em;
    min-height: 4em;

    border-radius: 2em;
    background-color: var(--off-white-color);

    margin: 0.5em;

    text-align: center;
}

.CategoryPill-icon p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5em;
    margin: 0;
    margin-top: 0.5em;
}


