.HorizontalScroller {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;

    overflow-x: auto;
    overflow-y: hidden;

    position: relative;

    scroll-behavior: auto;
}

.HorizontalScroller > * {
    flex: 1;
    flex-grow: 1;
}

.HorizontalScroller > *:last-child {
    margin-right: 0;
}

.HorizontalScroller::-webkit-scrollbar {
  display: none;
}