.LocationCard {
    width: 11.2em;
    min-width: 11.2em;
    max-width: 11.2em;
    
    height: 16em;
    border-radius: 2em;

    box-shadow: inset 0 0 100px 6px rgba(0,0,0,0.3);
    position: relative;
    color: var(--white-color);

    background-color: var(--secondary-color);
    user-select: none;
}

.LocationCard-description {
    margin: 1em;
    left: 0.5em;
    position: absolute;
    bottom: 0;
}

.LocationCard-name {
    font-size: 1em;
    margin: 0;
}

.LocationCard-mustseeplaces {
    margin-top: 0.5em;
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

.LocationCard-rating {
    position: absolute;
    right: 1.2em;
    top: 1.2em;
}